doctype html
head
  title Login Page
  // Bootsrap 4 CDN
  link#bootstrap-css(href='../bootstrap-4.2.1-dist/css/bootstrap.min.css' rel='stylesheet')
  // Fontawesome CDN
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css' integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU' crossorigin='anonymous')
  // Custom styles
  link(rel='stylesheet' type='text/css' href='../css/login.css')
.container
  .d-flex.justify-content-center.h-100
    .card
      .card-header
        h3 The Goodness Network
        h5 Log in
      .card-body
        form
          .input-group.form-group
            .input-group-prepend
              span.input-group-text
                i.fas.fa-user
            input.form-control(type='text' placeholder='username')
          .input-group.form-group
            .input-group-prepend
              span.input-group-text
                i.fas.fa-key
            input.form-control(type='password' placeholder='password')
          .row.align-items-center.remember
            input(type='checkbox')
            | Remember Me
          .form-group
            a.btn.float-right.login_btn(type='submit' href='./index.html' value='Login') Login
      .card-footer
        .d-flex.justify-content-center.links
          | Don&apos;t have an account?
          a(href='#') Sign Up
        .d-flex.justify-content-center
          a(href='#') Forgot your password?
